# Make your own module

While jupyter notebooks are very useful tools, they have drawbacks. One drawback is that code can become cluttered.  Another is that when used without packaging code into .py files, a lot of uninteresting code takes up a lot of space.  Your github repo will be a window into your coding skills to potential employers, who will be less interested in your data cleaning than in your modeling code.  Packaging this data cleaning in .py files will help showcase the important parts of your work. Doing so will also help make your code more organized.

## Animal Shelters Data

Let's load in our animal shelter data using this url: https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD

In [1]:
# Remember curl?  Use it here with ! (bang), 
# and save the file with via the -o option to animals.csv

In [14]:
# Use Pandas to transform the csv into a dataframe
%load_ext autoreload
%autoreload 2

import pandas as pd

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

![](https://media.giphy.com/media/L3ZH8rEs1Iaha/giphy.gif)

Explore the feature descriptions here: 
https://www.kaggle.com/aaronschlegel/austin-animal-center-shelter-outcomes-and

## Now code along and make package some data cleaning into a module

![](https://media.giphy.com/media/ZvLUtG6BZkBi0/giphy.gif)

In [ ]:
#If you fall behind, don't worry, I will upload a copy of the work to Git after class.

In [ ]:
# Let's perform some EDA

In [5]:
df.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A720371,Moose,02/13/2016 05:59:00 PM,02/13/2016 05:59:00 PM,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
1,A674754,NaN,03/18/2014 11:47:00 AM,03/18/2014 11:47:00 AM,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby
2,A689724,*Donatello,10/18/2014 06:52:00 PM,10/18/2014 06:52:00 PM,08/01/2014,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Black
3,A680969,*Zeus,08/05/2014 04:59:00 PM,08/05/2014 04:59:00 PM,06/03/2014,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,White/Orange Tabby
4,A684617,NaN,07/27/2014 09:00:00 AM,07/27/2014 09:00:00 AM,07/26/2012,Transfer,SCRP,Cat,Intact Female,2 years,Domestic Shorthair Mix,Black

In [3]:
# First, take a look to see if duplicates may be a problem in this dataset.

In [4]:
# let's see if we can look at what's going on with A721033

In [5]:
# Let's now check check for na's. How would I do this?

In [29]:
# There are quite a lot of na values, especially in two columns:
# Name and Outcome Subtype

In [6]:
# let's change NaN's in Name to no_name.

In [7]:
# Now let's look at outcome subtype. 
# How should we deal with this data?

In [8]:
# Now there are a lot less na's, so we can drop them safely

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92058 entries, 1 to 112922
Data columns (total 11 columns):
Animal ID           92058 non-null object
Name                92058 non-null object
DateTime            92058 non-null object
MonthYear           92058 non-null object
Date of Birth       92058 non-null object
Outcome Type        92058 non-null object
Animal Type         92058 non-null object
Sex upon Outcome    92058 non-null object
Age upon Outcome    92058 non-null object
Breed               92058 non-null object
Color               92058 non-null object
dtypes: object(11)
memory usage: 8.4+ MB

In [46]:
# Now that we have dealt with na's, let's move on to datatypes.
df.dtypes

Animal ID           object
Name                object
DateTime            object
MonthYear           object
Date of Birth       object
Outcome Type        object
Animal Type         object
Sex upon Outcome    object
Age upon Outcome    object
Breed               object
Color               object
dtype: object

In [57]:
# Let's convert the dates to datetime

In [9]:
# What if we wanted to consolidate the sexes

In [10]:
# One possible project we might want to perform is prediction 
# of whether an animal is adopted or not.

In [12]:
# Some choices to make: should we include all animals, 
# look at one or two types of animals?